* {
	margin: 0;
	padding: 0;
}

body {
	background: lightyellow;
}

button {
	width: 70px;
	height: 30px;
	cursor: pointer;
}

#message-display {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#message-display div {
	text-align: center;
}

#game-area {
	display: none;
	flex-direction: column;
	margin-top: 40px;
	margin-left: 40px;
	max-width: 600px;
}

#display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#word {
	align-self: center;
	display: flex;
	justify-content: space-between;
}

#keyboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 0 20px 40px;
	user-select: none;
}

#guessed-letters {
	margin-top: 10px;
}

#guessed-letters span {
	margin-left: 5px;
}

.key {
	border: 1px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 40px;
	width: 40px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.key:hover {
	cursor: pointer;
}

.letter {
	min-width: 20px;
	font-size: 20px;
}

.row {
	display: flex;
	justify-content: space-around;
}

.row div:first-child {
	border-left: 2px solid black;
}

.row div:last-child {
	border-right: 2px solid black;
}

@media only screen and (max-width: 500px) {

	.key {
		height: 30px;
		width: 30px;
	}

}

@media only screen and (max-width: 300px) {

	#keyboard {
		margin-left: 10px;
	}

	#game-area {
		margin-left: 10px;
	}

	.key {
		height: 20px;
		width: 20px;
	}

}